<div class="formModal">
{{> Title title="Вход" }}
<form class="form">
    <div class="formInputs">
        {{> Input type="text" name="login" value=login label="Логин" id="loginField" }}
        {{> Input type="text" name="password" value=password label="Пароль" id="passwordField" }}
    </div>
<div class="formFooter">
{{> Button value="Войти" }}
{{> Link url='./src/pages/Signup' text="Нет аккаунта?" }}
</div>
</form>
</div>