<div class="errorWrapper">
    <div class="errorInfo">
        <h1 class="errorTitle">{{code}}</h1>
        <h2 class="title">{{text}}</h1>
    </div>
    {{> Link url='/src/pages/Chat/' text="Назад к чатам" }}
</div>
